* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleBox {
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mainTitle {
    width: 1080px;
    max-width: 100%;
    margin-left: 25px;
}

.memeBox {
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
}

.whatAMeme {
    background-color: lightgray;
    height: 3em;
    border-radius: 20px 20px 0px 0px;
}

.memeImage {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.listItem {
    background-color: lightsalmon;
    border-radius: 0px 0px 20px 20px;
}

.listItem:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 320px) {
    .memeImage {
        width: 100%;
        height: auto;
    }
    
    .titleBox {
        width: 100%;
    }

    .mainTitle {
        font-size: 30px;
        text-align: left;
        display: flex;
        justify-content: left;
    }

    .whatAMeme {
        font-size: 20px;
        padding-top: 30px;
        padding-left: 10px;
    }
}

@media (min-width: 820px) {
    .memeImage {
        width: 100%;
        height: auto;
    }

    .titleBox {
        width: 100%;
    }

    .mainTitle {
        font-size: 40px;
        text-align: left;
        display: flex;
        justify-content: left;
    }

    .whatAMeme {
        font-size: 30px;
        padding-top: 30px;
        padding-left: 10px;
    }
}

@media (min-width: 1920px) {
    .memeImage {
        width: 60%;
        height: auto;

    }

    .titleBox {
        width: 100%;
    }

    .mainTitle {
        font-size: 60px;
        text-align: left;
        display: flex;
        justify-content: left;
    }

    .whatAMeme {
        font-size: 40px;
        padding-top: 30px;
        padding-left: 10px;
    }
}